[common:environment]
environment = prod

[common:mysqlDatabase]
HOST = ex-db-prod-read.co5wrazwrj8q.ap-northeast-1.rds.amazonaws.com
PORT = 3306
USER = data_analysis
PASSWORD = 7YJd#fn7FQxkFyCC


HOST_FUTURE = co-db-prod-c.co5wrazwrj8q.ap-northeast-1.rds.amazonaws.com
PORT_FUTURE  = 3306
USER_FUTURE  = data_analysis
PASSWORD_FUTURE  = 7YJd#fn7FQxkFyCC


[common:email]
sender = da001@3ex.com
receiver = da001@3ex.com; ko@3ex.com
password = gfhy ygaw dcvz jtux


